.submit-button__text {
    margin: 14px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .submit-button__text {
        font-size: 14px;
        line-height: 17px;
    }
}