.profile__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/Avatar.png);
    box-sizing: border-box;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 768px) {
    .profile__avatar {
        margin-left: auto;
        margin-right: auto;
    }
}
